/* navigation */
.navlist ul{
    flex-wrap: wrap;
    justify-content: center;

}
.media-icon{
    align-items: center;
   padding-top: 32px;
}
/* Headings */
.Headings{
    font-size: 2 rem;
    text-align: center;
}
/* #Introduction */
#pic{
    flex-direction: column;
    align-items: center;
    
}
#pic img{
    width: 450px;
    height: 380px;
}
#intro h2{
    text-align: center;
    padding: 10px;
}

/* contact */
.input{
    width: 60%;
}
#msg{
    width: 55%;
}
#send{
    width: 20%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  
  }