/* home */
#Home{
    height: 820px;
}
.Headings{
    font-size: 1.6rem;
}

/* About */
#pic img{
    width: 240px;
    height: 270px;
}
#intro h2{
    font-size: 1.1 rem;
}
/* hobbies */
.gallary img{
width: 240px;
height: 140px;
margin: 10px;
}
/* contact */
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}